<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/admin/common/layout/defaultlayout}"
    layout:fragment="Content">
    
	<link rel="stylesheet" href="/admin/inventory_log/css/detail.css"/>
	
<div>
	<button class="back-btn" onclick="location.href='/admin/inventoryLog/list'">
		<i class="fa-solid fa-chevron-left"></i>
		<span>뒤로가기</span>
	</button>
	<div class="table-container white-frame">
		<div class="receiving-num-area">
			<span class="search-list-title" th:if="${detail.log_transaction_status == '01' or detail.log_transaction_status == '03'}">입고번호: [[${detail.log_transaction_num}]]</span>
			<span class="search-list-title" th:if="${detail.log_transaction_status != '01' && detail.log_transaction_status != '03'}">출고번호: [[${detail.log_transaction_num}]]</span>
		</div>
		<div>
			<span>작업자: [[${detail.manager_name}]]</span>
		</div>
		<div class="table-data-info-area">
			<span class="table-data-cnt-txt" th:text="'총 ' + ${#lists.size(detailList)} + '건'"></span>
			<span class="date-font work-date" th:text="'작업날짜: ' + ${#dates.format(detail.log_operation_date, 'yyyy-MM-dd')}"></span>
		</div>
		<div class="table-column-area">
			<div class="no-column">
				<span>NO</span>
			</div>
			<div class="isbn-column">
				<span>ISBN</span>
			</div>
			<div class="book-title-column">
				<span>책제목</span>
			</div>
			<div class="qty-column">
				<span>수량</span>
			</div>
			<div class="zone-num-column">
				<span>구역번호</span>
			</div>
		</div>
		<div>
			<div class="table-data-area" th:each="info, status : ${detailList}">
				<div class="no-data">
					<span>[[${status.count}]]</span>
				</div>
				<div class="isbn-data">
					<span>[[${info.log_detail_isbn}]]</span>
				</div>
				<div class="book-title-data limit-lines">
					<span>[[${info.log_detail_title}]]</span>
				</div>
				<div class="qty-data">
					<span>[[${info.log_detail_qty}]]개</span>
				</div>
				<div class="zone-num-data">
					<span>[[${info.zone_num}]]</span>
				</div>
			</div>
		</div>
		<div class="total-cnt-area">
			<span th:text="'총 수량: ' + ${#numbers.formatInteger(detail.log_detail_qty, 0, 'COMMA')} + '개'"></span>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</div>
</html>