.search-list-title {
    margin-bottom: 20px;
}

.book-search, .product-info, .book-price, .book-qty, .filter-wrap, .radio-filter {
    display: flex;
    align-items: center;
}

.filter-wrap, .radio-filter {
    gap: 10px;
}

.book-search {
    position: relative;
    height: 60px;
    padding-left: 20px;
    margin-bottom: 30px;
}

.search-list-subject {
    display: flex;
    align-items: center;
    gap: 4px;
}

.important {
    display: inline-block;
    height: 30px;
    color: #E54F53;
}

input[type=text]:not(.placeholder, .search-input, .input-price) {
    width: 400px;
    padding-right: 10px;
}

.search-input {
    width: 450px;
}

#searchButton {
    right: -135px;
}

.product-info {
    height: 60px;
    padding-left: 20px;
    border-bottom: 1px solid #c0c0c0;
}

.book-price {
    margin-right: 150px;
}

.input-price {
    width: 140px;
    padding-right: 10px;
}

.file-container p {
    font-size: 12px;
    margin-bottom: 5px;
    color: #7E7E7E;
}

.thumbnail-wrap {
    height: 150px;
}

#input-file {
    display: none;
}

.book-info {
    height: 350px;
}

.custom-textarea {
    width: 98%;
    height: 280px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    background-color: #f8f8f8;
    font-family: 'SUIT', sans-serif;
}

.custom-textarea:focus {
    outline: none;
    border: 1px solid #7E7E7E;
    background-color: #fff;
}

.content-length-area {
    align-self: end;
    padding-right: 20px;
    margin: 0;
}

.button-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

/* 책 재고 정보 모달 */
#search-book-modal {
    display: none;
}
#search-book-modal.on {
    display: block;
}

#search-book-modal .modal-content-box {
    position: absolute;
    top: 230px;
    right: 26px;
    width: 972px;
    padding: 20px 25px;
    border: 1px solid #666;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 3px 7px 1px rgb(0 0 0 / 42%);
}

/* 스크롤방지 */
.stop-scroll{
    height: 100%;
    overflow: hidden;
}

#search-book-modal #close-btn {
    margin-bottom: 20px;
    text-align: center;
    float: right;
}

#search-book-modal #close-btn i {
    font-size: 24px;
    color: #666666;
}

#search-book-modal #close-btn i:hover {
    transform: rotate(115deg);
}

#search-book-modal .table-center td:not(.text-ellipsis), .table-center th {
    text-align: center;
    vertical-align: middle;
}

.select-td, .text-ellipsis {
    cursor: pointer;
}

#search-book-modal .table thead {
    height: 50px;
    background-color: #FAFAFA;
}

#search-book-modal .table thead th {
    color: #7E7E7E;
}

#search-book-modal .table td, .table thead th {
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #D8D8D8;
}

.table td {
    height: 50px;
    vertical-align: middle;
}

.table th:not([align]) {
    text-align: center;
}

.pagination-list {
    justify-content: center;
}

/* 셀렉트박스 사이즈조정 */
.select-wrap.select-lists {
    width: 160px;
}

/* 모달 미디어 쿼리 */

/* 27인치 모니터용 스타일 */
@media (min-width: 1630px) {
    #search-book-modal .modal-content-box {
        right: 140px;
    }
}

@media (min-width: 1920px) {
    #search-book-modal .modal-content-box {
        right: 320px;
    }
}


.intro-text-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}