<div id="header" th:fragment="header">
         <div class="title-wrap">
            <p class="header-title">whale books 관리자페이지</p>
            <p class="clock"></p>      
         </div>
         
         <div class="user-wrap">
            <div class="user-profile">
               <i class="fa-solid fa-circle-user header"></i>
               <div class="text-wrap">
                  <p>관리자</p>
                  <p>홍길동</p>
               </div>            
            </div>
            <i class="fa-solid fa-right-from-bracket log-out"></i>
         </div>
</div>