<nav class="side-menu" th:fragment="sidebar">
  <div class="logo-wrap">
    <img src="/admin/common/img/admin-로고.svg" alt="로고" />
  </div>
  <ul class="menu-list">
    <li class="menu-items">
      <div class="menu-content">
        <img src="/admin/common/img/bar-active.png" alt="bar" class="bar-img" />
        <div class="menu-right">
          <div class="menu-text">
            <div class="icon-img-wrap">
              <i class="fa-solid fa-house icon-img"></i>
            </div>
            <p>홈</p>
          </div>
        </div>
      </div>
    </li>
    <li class="menu-items">
      <div class="menu-content">
        <img src="/admin/common/img/bar-active.png" alt="bar" class="bar-img" />
        <div class="menu-right">
          <div class="menu-text">
            <div class="icon-img-wrap">
              <svg class="icon-img" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path
                  d="M7 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM14.5 9a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5ZM1.615 16.428a1.224 1.224 0 0 1-.569-1.175 6.002 6.002 0 0 1 11.908 0c.058.467-.172.92-.57 1.174A9.953 9.953 0 0 1 7 18a9.953 9.953 0 0 1-5.385-1.572ZM14.5 16h-.106c.07-.297.088-.611.048-.933a7.47 7.47 0 0 0-1.588-3.755 4.502 4.502 0 0 1 5.874 2.636.818.818 0 0 1-.36.98A7.465 7.465 0 0 1 14.5 16Z"
                ></path>
              </svg>
            </div>
            <p>회원관리</p>
          </div>
          <div class="icon-img-wrap">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </div>
      </div>
      <ul class="sub-menu-list">
        <li>
          <a href="/admin/index?path=admin/members/members">회원목록조회</a>
        </li>
      </ul>
    </li>
    <li class="menu-items">
      <div class="menu-content">
        <img src="/admin/common/img/bar-active.png" alt="bar" class="bar-img" />
        <div class="menu-right">
          <div class="menu-text">
            <div class="icon-img-wrap">
              <i class="fa-solid fa-user-gear icon-img"></i>
            </div>
            <p>매니저관리</p>
          </div>
          <div class="icon-img-wrap">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </div>
      </div>
      <ul class="sub-menu-list">
        <li>
          <a href="">매니저목록조회</a>
        </li>
        <li>
          <a href="">매니저등록</a>
        </li>
      </ul>
    </li>
    <li class="menu-items">
      <div class="menu-content">
        <img src="/admin/common/img/bar-active.png" alt="bar" class="bar-img" />
        <div class="menu-right">
          <div class="menu-text">
            <div class="icon-img-wrap">
              <i class="fa-solid fa-book icon-img"></i>
            </div>
            <p>상품관리</p>
          </div>
          <div class="icon-img-wrap">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </div>
      </div>
      <ul class="sub-menu-list">
        <li>
          <a href="">상품목록조회</a>
        </li>
      </ul>
    </li>
    <li class="menu-items">
      <div class="menu-content">
        <img src="/admin/common/img/bar-active.png" alt="bar" class="bar-img" />
        <div class="menu-right">
          <div class="menu-text">
            <div class="icon-img-wrap">
              <i class="fa-solid fa-store icon-img"></i>
            </div>
            <p>주문관리</p>
          </div>
          <div class="icon-img-wrap">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </div>
      </div>
      <ul class="sub-menu-list">
        <li>
          <a href="">주문내역목록</a>
        </li>
      </ul>
    </li>
    <li class="menu-items">
      <div class="menu-content">
        <img src="/admin/common/img/bar-active.png" alt="bar" class="bar-img" />
        <div class="menu-right">
          <div class="menu-text">
            <div class="icon-img-wrap">
              <i class="fa-solid fa-cart-flatbed icon-img"></i>
            </div>
            <p>창고관리</p>
          </div>
          <div class="icon-img-wrap">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </div>
      </div>
      <ul class="sub-menu-list">
        <li>
          <a href="">발주내역</a>
        </li>
        <li>
          <a href="">입출고내역</a>
        </li>
        <li>
          <a href="">창고재고조회</a>
        </li>
      </ul>
    </li>
    <li class="menu-items">
      <div class="menu-content">
        <img src="/admin/common/img/bar-active.png" alt="bar" class="bar-img" />
        <div class="menu-right">
          <div class="menu-text">
            <div class="icon-img-wrap">
              <i class="fa-solid fa-desktop icon-img"></i>
            </div>
            <p>홈페이지관리</p>
          </div>
          <div class="icon-img-wrap">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </div>
      </div>
      <ul class="sub-menu-list">
        <li>
          <a href="">배너관리</a>
        </li>
        <li>
          <a href="">공지글관리</a>
        </li>
        <li>
          <a href="/admin/index?path=admin/reviews/reviews">리뷰조회</a>
        </li>
        <li>
          <a href="">1:1 문의</a>
        </li>
      </ul>
    </li>
    <li class="menu-items">
      <div class="menu-content">
        <img src="/admin/common/img/bar-active-black.png" alt="bar" class="bar-img" />
        <div class="menu-right">
          <div class="menu-text black">
            <div class="icon-img-wrap">
              <i class="fa-solid fa-circle-user icon-img black"></i>
            </div>
            <p>내정보</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</nav>
