<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Products">
	<select id="getAll" resultType="products">
		
	
     SELECT
         book_isbn,
         book_name,
         book_price,
         book_publisher,
         book_author,
         book_qty,
         book_intro,
         book_country_type,
         book_category,
         book_state,
         book_thumbnail
     FROM
         books
	    
			
	</select>
</mapper>