<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/common/layout/myPageLayout}"
      layout:fragment="Content">

	<link rel="stylesheet" href="/user/mypage/purchase_cancel/css/returnRequest.css">
<div>
	<div class="page-title">
		<span>반품신청</span>
	</div>
	<div class="order-info-area">
		<div class="request-date">
			<span th:if="${!#lists.isEmpty(cancelList)}" th:text="${#dates.format(cancelList[0].order_purchase_date, 'yyyy.MM.dd')}"></span>
		</div>
		<div class="request-order-num">
			<span th:if="${!#lists.isEmpty(cancelList)}" th:text="'주문번호 ' + ${cancelList[0].order_num}"></span>
		</div>
	</div>
	<div class="page-sub-title">
		<div class="check-btn">
		    <input type="checkbox" class="check-box" id="selected-all">
		    <label for="selected-all"></label>
		</div>
		<div class="selected-count-area">
			<span>선택한 상품</span>
			<span id="selected-count">(0)</span>
		</div>
	</div>
	<div th:each="detail : ${cancelList}">
		<div class="cancel-book-detail">
			<div class="check-btn">
			    <input type="checkbox" class="check-box checked" th:id="${detail.order_detail_num}">
			    <label th:for="${detail.order_detail_num}"></label>
			</div>
			<div class="book-image-area">
				<a th:href="'/user/products/detail?book_isbn=' + ${detail.book_isbn}"><img th:src="'/images/books/' + ${detail.book_thumbnail_changed != null ? detail.book_thumbnail_changed : 'noimg.png'}" alt="책 이미지" width="80" height="114"></a>
			</div>
			<div class="book-info">
				<input type="hidden" name="order_num" th:value="${detail.order_num}">
				<input type="hidden" name="order_detail_num" th:value="${detail.order_detail_num}">
				
				<div>
					<a th:href="'/user/products/detail?book_isbn=' + ${detail.book_isbn}"><span class="book-name" th:text="${detail.book_name}"></span></a>
				</div>
				<div>
					<span class="purchase-qty" th:text="'주문수량: ' + ${detail.order_detail_qty} + '개'"></span>
				</div>
				<div class="return-count-input-area">
					<span>반품요청</span>
					<div>
						<span class="input-count">
							<input type="number" name="order_request_qty" oninput="countValidation(this);" placeholder="수량" th:data-max-qty="${detail.order_detail_qty - detail.order_request_qty - detail.order_complete_qty}" th:value="${(detail.order_detail_qty - detail.order_request_qty - detail.order_complete_qty) <= 0 ? 0 : (detail.order_detail_qty - detail.order_request_qty - detail.order_complete_qty)}">
						</span>
					</div>
				</div>
			</div>
			<div>
				<span class="book-price" th:text="${#numbers.formatInteger(detail.order_detail_price * detail.order_detail_qty, 0, 'COMMA')}" th:data-detail-price="${detail.order_detail_price}"></span><span>원</span>
			</div>		
		</div>
	</div>
	
	<input type="hidden" name="order_num" th:if="${!#lists.isEmpty(cancelList)}" th:value="${cancelList[0].order_num}"/>
	<input type="hidden" name="retrieve_name" th:value="${refund.retrieve_name != null ? refund.retrieve_name : refund.recipient_name}">
	<input type="hidden" name="retrieve_phoneNo" th:value="${refund.retrieve_phoneNo != null ? refund.retrieve_phoneNo : refund.recipient_phoneno}">
	<input type="hidden" name="retrieve_addr" th:value="${refund.retrieve_addr != null ? refund.retrieve_addr : refund.order_addr}">
	<input type="hidden" name="retrieve_addr_detail" th:value="${refund.retrieve_addr_detail != null ? refund.retrieve_addr_detail : refund.order_addr_detail}">
	<input type="hidden" name="common_ent_pw" th:value="${refund.retrieve_common_cnt_pw != null ? refund.retrieve_common_cnt_pw : refund.common_ent_pw}">
	<div>
		<div class="info-title-area">
			<span>회수지 정보</span>
		</div>
		<div class="detail-info-area">
			<div>
				<div class="info-sub-title-area">
					<span>기본정보</span>
				</div>
			</div>
			<div>
				<div class="name-area">
					<span id="refund-name" class="name user-info-font" th:text="${refund.retrieve_name != null ? refund.retrieve_name : refund.recipient_name}"></span>
					<span class="info-change-area">
						<button id="info-change-btn" class="small-btn">회수지 변경</button>
					</span>
					<div class="info-change-modal" style="display: none;">
						<div class="info-change-title">
							<div>
								<span>회수지 정보 변경</span>
							</div>
							<div class="close-btn-area">
								<span class="close-btn"></span>
							</div>
						</div>
						<div class="info-input-area">
							<div class="info-sub-title">
								<span>받는 분</span>
							</div>
							<div>
								<span><input type="text" id="modal-user-name" class="info-input-box" placeholder="이름입력"></span>
							</div>
						</div>
						<div class="info-input-area">
							<div class="info-sub-title">
								<span>전화번호</span>
							</div>
							<div>
								<span><input type="text" oninput="phoneNoCheck(this);" id="modal-user-phoneNo" class="info-input-box" placeholder="전화번호입력"></span>
							</div>
						</div>						
						<div class="info-input-area">
							<div class="info-sub-title">
								<span>주소</span>
							</div>
							<div>
								<div class="info-addr-area">
									<div class="info-addr-input-area">
										<span><input type="text" id="modal-user-addr" class="info-addr-input-box" readonly="readonly" placeholder="주소"></span>
									</div>
									<div>
										<span><button class="default-btn" onclick="addrSearchBtn();">검색</button></span>
									</div>
								</div>
								<div>
									<span><input type="text" id="modal-user-addr-detail" class="info-input-box" placeholder="상세주소"></span>
								</div>
							</div>
						</div>
						<div id="warning-message"></div>
						<div class="common-entranc-title-area">
							<span>공동현관 출입방법</span>
						</div>
						<div class="common-entranc-content-area">
							<div class="common-entranc-radio-area">
								<div class="common-entranc-radio flex-direction">
									<input type="radio" name="modal_common_ent_pw" id="common-entrance-on">
								</div>
								<div class="common-entranc-radio-name-area flex-direction">
							    	<label for="common-entrance-on">공동현관 비밀번호</label>
							    </div>
								<div class="common-entranc-radio flex-direction">
									<input type="radio" name="modal_common_ent_pw" id="common-entrance-off">
								</div>
								<div class="common-entranc-radio-name-area flex-direction">
								    <label for="common-entrance-off">자유출입 가능</label>
							    </div>
							</div>
						</div>
						<div class="common-entrance-pw-area">
							<span><input type="text" id="modal-user-common-entrance-pw" class="info-input-box common-entrance-pw" placeholder="정확한 공동현관 출입번호(비밀번호)를 입력해주세요."></span>
						</div>
						<div class="common-entrance-precautions-area">
							<span>※ 공동현관 출입방법 정보가 정확하지 않을 경우, 새벽배송 시 공동현관 앞에 배송되거나 반송될 수 있습니다.</span>
						</div>
						<div class="info-change-btn-area">
							<span><button class="default-btn" onclick="infoChangeBtn();">확인</button></span>
						</div>
					</div>
				</div>
				<div class="phone-number-area">
					<span class="user-info-font" id="refund-phoneNo" th:text="${refund.retrieve_phoneNo != null ? refund.retrieve_phoneNo : refund.recipient_phoneno}"></span>
				</div>
				<div>
					<span class="user-info-font" id="refund-addr" th:text="${refund.retrieve_addr != null ? (refund.retrieve_addr + ' ' + refund.retrieve_addr_detail) : (refund.order_addr + ' ' + refund.order_addr_detail)}"></span>
				</div>
				<div class="common-entrance-area">
					<span class="user-info-font" id="refund-commonent-pw" th:text="${refund.retrieve_common_cnt_pw != null ? refund.retrieve_common_cnt_pw : refund.common_ent_pw}"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="refund-area">
		<div class="refund-title-area">
			<span class="refund-title">환불정보</span>
		</div>
		<div class="refund-info-area">
			<div class="refund-price-area">
				<span>주문금액</span>
				<div class="cancel-price">
					<span th:text="${#numbers.formatInteger(refund.order_price_total, 0, 'COMMA')}"></span><span class="won">원</span>
				</div>
			</div>
			<div class="cancel-price-area">
				<span>환불금액</span>
				<div class="cancel-price">
					<span id="refund-price">0</span>
					<span class="won">원</span>
				</div>
			</div>
		</div>	
	</div>
	<div class="cancel-guide-lines-area">
		<div class="guide-lines-content-area">
			<div class="guide-lines-detail-area">
				<div>
					<span class="guide-lines-sub-title">안내 사항을 확인해 주세요.</span>
				</div>
				<div>
					<span class="guide-lines-content">환불예상금액과 실제 환불되는 금액이 다를 수 있습니다.</span>
				</div>
				<div>
					<span class="guide-lines-content">부분취소 발생시 취소금권의 순서에 따라 환불 됩니다. 부분반품 발생시 할당된 금권으로 환불 됩니다.</span> 
				</div>
			</div>
			<div class="guide-lines-detail-area">
				<div>
					<span class="guide-lines-sub-title">상품별 환불안내</span>
				</div>
				<div>
					<span class="guide-lines-content">신용카드,계좌이체의 경우 결제취소됩니다.</span>
				</div>
				<div>
					<span class="guide-lines-content">카드이용 후 취소요청 시 카드사 정책에 따라 환불기간 소요될 수 있습니다.</span> 
				</div>
			</div>
			<div class="guide-lines-detail-area">
				<div>
					<span class="guide-lines-sub-title">결제수단별 환불안내</span>
				</div>
			</div>
			<div class="guide-lines-detail-area">
				<div>
					<span class="guide-lines-sub-title">전체취소란?</span>
				</div>
				<div>
					<span class="guide-lines-content">여러 개의 상품을 한번에 결제 후 모든 상품을 한번에 취소(품절,반품)하는 경우로 결제한 전체금액이 취소됩니다.</span>
				</div>
			</div>
			<div class="guide-lines-detail-area">
				<div>
					<span class="guide-lines-sub-title">부분취소란?</span>
				</div>
				<div>
					<span class="guide-lines-content">여러 개의 상품을 한번에 결제 후 일부 상품만을 취소(품절,반품)하는 경우로 결제 금액중 일부금액이 취소됩니다.</span>
				</div>
				<div>
					<span class="guide-lines-content">상품A + 상품B를 한번에 결제 후 각각 1개씩 취소하여 결제한 전체금액이 취소된 경우도 부분 취소에 해당됩니다.</span>
				</div>
			</div>
			<div class="guide-lines-detail-area">
				<div>
					<span class="guide-lines-sub-title">신용카드/체크카드(간편결제,법인카드 포함)</span>
				</div>
			</div>
			<div class="guide-lines-detail-area">
				<div>
					<span class="guide-lines-sub-title">전체취소</span>
				</div>
				<div>
					<span class="guide-lines-content">카드사 매입전은 결제일에 취소, 카드사 매입후는 약 3일~2주(주말, 공휴일 제외)후 취소 됩니다.</span>
				</div>
			</div>
			<div class="guide-lines-detail-area">
				<div>
					<span class="guide-lines-sub-title">부분취소</span>
				</div>
				<div>
					<span class="guide-lines-content">카드사 매입후 취소로 처리되며, 카드사에 따라 약 3일~2주(주말,공휴일제외)후 취소 됩니다.<br>&emsp;(결제일 당일 부분취소한 경우 결제 당일 취소 불가하며, 약 3일~2주 (주말, 공휴일 제외)후 취소됨)</span>
				</div>
			</div>
			<div>
				<div>
					<span class="guide-lines-content">카드사 취소 처리 되는 시점에 카드사에서 취소 문자 전송됩니다. (단, 카드사 문자 신청한 경우만 전송됨)</span>
				</div>
				<div>
					<span class="guide-lines-content">카드 승인 취소 내역은 해당 카드사에서 확인 가능합니다.</span>
				</div>
			</div>
		</div>
	</div>
	<div class="btn-area">
		<button class="cancel-btn" onclick="orderCancelBtn();">반품신청</button>
		<button class="back-btn" onclick="location.href='/user/mypage/orderList'">이전으로</button>
	</div>
	
</div>

	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src="/user/mypage/purchase_cancel/js/returnRequest.js"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</html>