<!DOCTYPE html>
<html lang="ko" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/mobile/common/layout/mobilelayout}"
      layout:fragment="Content">
    
<div class="mobile-inner" style="gap: 2.3rem;"> 
	<form id="my-form" action="/mobile/admin/update-info" method="POST" style="display: contents;">
		
	<h3 class="menu-title">내 정보</h3>        
    <div class="white-frame home-first-menu">
		<div class="myinfo">
		
			<p class="myinfo-sub-title">아이디</p>
			<p class="content-text" th:text="${manager.manager_id}"></p>
			
			
			<label for="input-pw" class="myinfo-sub-title">새 비밀번호</label>
			<div class="input-pw-box">
				<input type="password" id="input-pw" name="manager_pw" class="input-pw">
				 <p id="error-pw-val" class="error-message" style="display: none;">비밀번호는 특수문자, 영문자, 숫자를 포함하여<br>최소 8자 이상이어야 합니다.</p>
			</div>
			
			<label for="input-pw-ch" class="myinfo-sub-title">새 비밀번호 확인</label>
			<div class="input-pw-box">
				<input type="password" id="input-pw-ch" class="input-pw">
				<p id="error-pw-ch" class="error-message" style="display: none;">비밀번호가 일치하지 않습니다.</p>
			</div>
			
			<p class="myinfo-sub-title">이름</p>
			<p class="content-text" th:text="${manager.manager_name}"></p>
			
			
			<p class="myinfo-sub-title">전화번호</p>
			<div>
				<div class="myinfo-phone">
					<div class="select-wrap-und">
					    <select name="countryNum" id="countryNum">
					        <option th:each="number : ${countryNums}"
	               		    		th:value="${number}"
	               		  			th:text="${number}"
	               		   			th:selected="${number} == ${countryNum}">
					    </select>
					    <i class="fa-solid fa-sort" aria-hidden="true"></i>
					</div>
		            <span class="search-list-subject-symbol">-</span>
		            <input type="number" id="phone-part-1" min="1" max="9999" class="phone-num" th:value="${phonePart1}">
		            <span class="search-list-subject-symbol">-</span>
		            <input type="number" id="phone-part-2" min="1" max="9999" class="phone-num" th:value="${phonePart2}">
				</div>
	     		<p id="error-phone" class="error-message" style="display: none;">전화번호를 올바르게 입력해주세요.</p>
			</div>
			
			<input type="hidden" name="manager_phoneNo" id="manager_phoneNo">
		</div>
    </div>
    
    
    <div style="display: flex; gap: 1rem;">
    	<button id="submit-btn" class="default-btn edit">수정</button>
    	<button type="button" class="default-btn cancel" onclick="location.href='/mobile/admin/index'">취소</button>
    </div>
	</form>
</div>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

	<script src="/mobile/myinfo/js/myinfo.js"></script>
</html>
