<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/admin/common/layout/defaultlayout}"
    layout:fragment="Content">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Banner/Popup</title>

<link rel="stylesheet" href="/admin/banners/css/banners.css" />
<link rel="stylesheet" href="/admin/common/css/modal.css">
<!-- DataPicker -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
	<div class="filter-container white-frame">
		<div class="header">
			<h1 class="search-list-title">배너/팝업관리</h1>
		</div>

		<div class="content">
			<div class="search-filter">
				<div class="filter-group">
					<div class="search-list-subject">노출 기간</div>
					<div class="date-picker">
						<div class="input-date-box">
							<input type="text" id="startDate" class="placeholder" placeholder="YYYY-MM-DD" /> 
							<i class="fa-solid fa-calendar-days"></i>
						</div>
						<div class="calendar-slash">-</div>
						<div class="input-date-box">
							<input type="text" id="endDate" class="placeholder" placeholder="YYYY-MM-DD" /> 
							<i class="fa-solid fa-calendar-days"></i>
						</div>
					</div>
					<div class="date-options date-pick-btn">
						<button class="date-option today today-btn date-btn" onclick="setToday()">오늘</button>
						<button class="date-option week-btn date-btn" onclick="setDateRange(7)">1주일</button>
						<button class="date-option month-btn date-btn" onclick="setDateRange(30)">1개월</button>
						<button class="date-option year-btn date-btn" onclick="setDateRange(365)">1년</button>
					</div>
				</div>
			</div>


			<div class="radio-group">
				<div class="search-list-subject">유형</div>
				<div class="radio-wrap">
					<input type="radio" name="banner-position" id="position-all" value="" checked> 
					<label for="position-all">전체</label> 
					<input type="radio" name="banner-position" id="position-banner" value="01" class="radio"> 
					<label for="position-banner">배너</label> 
					<input type="radio" name="banner-position" id="position-popup" value="02" class="radio"> 
					<label for="position-popup">팝업</label>
				</div>
			</div>

			<div class="search-bar-group">
				<div class="search-list-subject">검색어</div>
				<div class="search-container">
					<input type="text" name="" id="searchKeyword" class="search-input" placeholder="검색어를 입력하세요" />
					<button id="searchButton">
						<span class="material-symbols-outlined">search</span>
					</button>
				</div>
				<button id="reset-button" onclick="resetFilters()">초기화</button>
			</div>
		</div>
	</div>

	<div class="table-container white-frame">
		<div class="table-title-wrap">
			<div id="total-row" class="table-data-cnt-txt"></div>
			<div class="button-wrap">
				<button id="delete-button" class="button is-danger delete-button">삭제</button>
				<button id="insert-button" class="button is-link default-btn" onclick="location.href='/admin/banners/register'">등록</button>
			</div>
		</div>
		<table id="banners" class="table" style="width: 100%;">
			<thead class="table-head">
				<tr class="table-column-head">
					<th><input type="checkbox" id="select-all" /> <label for="select-all"></label></th>

					<th class="table-column-head-txt">NO</th>
					<th class="table-column-head-txt">제목</th>
					<th class="table-column-head-txt">유형</th>
					<th class="table-column-head-txt">노출 기간</th>
					<th class="table-column-head-txt">노출 여부</th>
					<th class="table-column-head-txt">등록일</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>


	<script src="/admin/common/js/main.js"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src="https://cdn.datatables.net/2.1.4/js/dataTables.js"></script>
	<script src="https://cdn.datatables.net/2.1.4/js/dataTables.bulma.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script src="/admin/banners/js/banners.js"></script>
</body>
</html>