button {
   outline: none;
   border: none;
   background-color: #ffffff;
}

/* 모달 스타일 추가 */
.modal {
   position: fixed;
   z-index: 1000;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.4); /* 블랙 w/ opacity */
}

.modal-content {
   display: flex;
   flex-direction: column;
   background-color: #fefefe;
   margin: 15% auto; /* 상하 좌우 가운데 정렬 */
   border: 0.05rem solid #888;
   padding: 0;
   width: 30rem;
   height: 15.5rem;
   border-radius: 0.8rem;
   overflow: hidden;
}

.modal-text {
	height: 80%;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 3rem;
    text-align: center;
    flex-direction: column;
    font-size: 1.6rem;
}

.modal-text.error-text {
   gap: 10px;
   color: #E54F53;
   font-weight: 700;
   font-size: 1.6rem;
}

.modal-text.error-text i {
   font-size: 2.6rem;
}

.modal-footer {
   display: flex;
   align-items:center;
   border-top: .1rem solid #c0c0c0;
}

.modal-footer .modal-btn {
   width: 100%;
   height: 4.5rem;
   border: 0.05rem solid #C0C0
}

.modal-footer .modal-btn.confirm {
   color: #4777F6;
   font-size: 1.6rem;
   font-weight: 700;
}

.modal-footer .modal-btn.confirm.error {
   color: #000;
}

.modal-footer .modal-btn.cancel {
   border-left: 0.05rem solid #C0C0C0;
   color: #666;
}
