.supplier-orders-list-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

table td:not([align]), table th:not([align]) {
    text-align: center !important;
}

.text-color-blue {
	color: #4777F6 !important;
}

.order-detail-link {
	text-decoration: underline;
}