.inner {
  margin: 0 auto;
  width: 1440px;
  height: auto; /* 자동으로 높이 설정 */
  min-height: 100vh; /* 최소 높이를 뷰포트의 높이로 설정 */  background-color: #EBECF0;
  display: grid;
  grid-template-columns: 310px auto;
}

.side-menu {
  height: 100%;
  background-color: #fff;
}

.logo-wrap {
  padding: 30px 0 45px 0;
  text-align: center;
}

.icon-img-wrap {
  width: 21px;
  height: 21px;

}

.menu-list .menu-content, .menu-text {
  width: 100%;
  display: flex;
  align-items: center;
}

.menu-content {
  padding-right: 15px;
}

.icon-img {
  color: #2D2D2D;
}

.icon-img.open {
  color: #4777F6;
}

.icon-img.black {
  color: #666666;
}

.icon-img.black.open {
  color: #2D2D2D;
}

.bar-img {
  padding-right: 15px;
  opacity: 0;
}

.bar-img.open {
  opacity: 1;
}

.menu-text {
  gap: 5px;
}

.fa-chevron-right {
  color: #666666;
}
.fa-chevron-right.open {
  transform: rotate(90deg);
}

.menu-text p {
  font-size: 18px;
  font-weight: 400;
  color: #2D2D2D;
}

.menu-text p.open {
  color: #4777F6;
  font-weight: 700;
}

.menu-text.black p {
  color: #666666
}

.menu-text.black p.open {
  color: #2D2D2D;
}

.menu-right {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sub-menu-list {
  background-color: #FAFAFA;
  color: #7E7E7E;
  font-weight: bold;
  line-height: 35px;
  display: none;
}

.sub-menu-list.open {
  display: block;
}

.sub-menu-list li {
  height: 35px;
  padding-left: 50px;
}

.sub-menu-list li a {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #7E7E7E;
}

/* 헤더 */
.content-wrap {
   padding: 30px 20px 0 20px;
}

#header {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   margin-bottom: 20px;
}

.title-wrap {
   display: flex;
   flex-direction: column;
}

.header-title {
   font-size: 24px;
   font-weight: 800;
   text-transform: uppercase;
}

.clock {
   font-size: 16px;
   font-weight: 400;
}

.user-wrap, .user-profile, .text-wrap {
   display: flex;
   align-items: center;
   gap: 10px;
}

.user-wrap {
   gap: 45px;
}

.fa-circle-user.header {
   font-size: 60px;
   color: #666;
}

.text-wrap {
   flex-direction: column;
}

.text-wrap p {
   font-size: 16px;
}

.fa-right-from-bracket.log-out {
   font-size: 24px;
   color: #666;
}