.eye-container {
    position: relative;
}

.fa-lg {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	color: #C0C0C0;
	font-size: 15px;
}

.fa-eye.fa-lg {
	display: none;
}

.fa-eye.fa-lg.active {
	display: block;
	color: #666;
}

.fa-eye-slash.hidden {
	display: none;
}