<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/login/css/login.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
    	<div>
    		<i class="fa-solid fa-book-open icon"> Book Store</i>
    	</div>
    	<div>관리자페이지로그인</div>
    	
    	<!-- 경고 메시지 출력 부분 -->
        <div th:if="${loginError}" style="color: red; text-align: center;">
            <p th:text="${loginError}"></p>
        </div>
    	
        <div>
            <label for="username">아이디</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">로그인</button>
    </form>
</body>
</html>