<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<a href="">&lt;뒤로가기</a>
	<table>
		<tr>
			<td>문의번호: </td>
		</tr>
		<tr>
			<td>제목</td>
			<td></td>
		</tr>
		<tr>
			<td>작성자</td>
			<td></td>
		</tr>
		<tr>
			<td>작성날짜</td>
			<td></td>
		</tr>
		<tr>
			<td>문의 분류</td>
			<td></td>
		</tr>
		<tr>
			<td>내용</td>
			<td></td>
		</tr>
		<tr>
			<td>답변여부</td>
		</tr>
	</table>
	<table>
		<tr>
			<td>답변내용</td>
			<td><textarea name="" id="" cols="30" rows="10"></textarea></td>
		</tr>
	</table>
	<button>수정</button>
	<button>취소</button>
</body>
</html>