<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/inquiry/css/inquiryList.css" />
</head>
<body>
	<div id="menu">
		<div id="show-inquiries">1:1문의 조회</div>
		<span>작성일</span>
		<input id="start-date" type="date" />
		<span>-</span>
		<input id="end-date" type="date" />
		<button id="today-btn">오늘</button>
		<button id="one-week-btn">1주일</button>
		<button id="one-month-btn">1개월</button>
		<button id="one-year-btn">1년</button>
		<br>
		<span>처리상태</span>
		<select name="" id="">
			<option>문의분류</option>
			<option value="01">상품 문의</option>
			<option value="02">배송 문의</option>
			<option value="03">결제 문의</option>
			<option value="04">반품 문의</option>
			<option value="05">기타</option>
		</select>
		<input id="total" name="state" value="total" type="radio" checked />
		<label for="total">전체</label>
		<input id="uncompleted" name="state" value="01" type="radio" />
		<label for="uncompleted">미답변</label>
		<input id="completed" name="state" value="02" type="radio" />
		<label for="completed">답변완료</label>
		<br>
		<a href="">초기화</a>
	</div>
	<div>
		<div>총 10건</div>
		<table>
			<thead>
				<tr>
					<td><input type="checkbox" /></td>
					<td>NO</td>
					<td>문의제목</td>
					<td>문의분류</td>
					<td>회원ID</td>
					<td>작성일</td>
					<td>답변일</td>
					<td>처리상태</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="inquiry : ${inquiries}">
					<td><input type="checkbox" /></td>
					<td th:text="${inquiries.inquiry_num}"></td>
					<td th:switch="${inquiries.inquiry_answer_status}">
						<a th:case="01" th:href="@{/inquiry/answerForm(inquiry_num=${inquiries.inquiry_num})}" th:text="${inquiries.inquiry_title}"></a>
						<a th:case="02" th:href="@{/inquiry/answerModifyForm(inquiry_num=${inquiries.inquiry_num})}" th:text="${inquiries.inquiry_title}"></a>
					</td>
					<td th:text="${inquiries.inquiry_type}"></td>
					<td th:text="${inquiries.member_id}"></td>
					<td th:text="${inquiries.inquiry_write_date}"></td>
					<td th:text="${inquiries_answer.answer_write_date}"></td>
					<td th:text="${inquiries.inquiry_answer_status}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="/inquiry/js/inquiryList.js"></script>
</body>
</html>