<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/inquiry/css/inquiryList.css" />
</head>
<body>
	<div id="container">
		<div id="menu">
			<div id="show-inquiries">
				1:1문의 조회
			</div>
			<div id="frame1230">
				<div id="frame1229">
					<div id="frame1182">
						<div id="frame1224">
							<div id="frame1227">
								<span id="writen-date">작성일</span>
								<div id="frame1236">
									<div id="date-search">
										<input id="start-date" type="date" />
										<span>-</span>
										<input id="end-date" type="date" />
										<div id="period-choice">
											<button id="today-btn"><span id="today">오늘</span></button>
											<button id="one-week-btn"><span id="one-week">1주일</span></button>
											<button id="one-month-btn"><span id="one-month">1개월</span></button>
											<button id="one-year-btn"><span id="one-year">1년</span></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="frame1184">
						<div id="frame1226">
							<span id="process-state">처리상태</span>
							<div id="frame1289">
								<select name="" id="category">
									<option>문의분류</option>
									<option value="01">상품 문의</option>
									<option value="02">배송 문의</option>
									<option value="03">결제 문의</option>
									<option value="04">반품 문의</option>
									<option value="05">기타</option>
								</select>
								<input id="all" name="state" value="all" type="radio" checked />
								<label for="all">전체</label>
								<input id="uncompleted" name="state" value="01" type="radio" />
								<label for="uncompleted">미답변</label>
								<input id="completed" name="state" value="02" type="radio" />
								<label for="completed">답변완료</label>
							</div>
						</div>
					</div>
				</div>
				<div>
					<a id="reset" href="">초기화</a>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div>총 10건</div>
		<table>
			<thead>
				<tr>
					<td><input type="checkbox" /></td>
					<td>NO</td>
					<td>문의제목</td>
					<td>문의분류</td>
					<td>회원ID</td>
					<td>작성일</td>
					<td>답변일</td>
					<td>처리상태</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="inquiry : ${inquiries}">
					<td><input type="checkbox" /></td>
					<td th:text="${inquiries.inquiry_num}"></td>
					<td th:switch="${inquiries.inquiry_answer_status}">
						<a th:case="01" th:href="@{/inquiry/answerForm(inquiry_num=${inquiries.inquiry_num})}" th:text="${inquiries.inquiry_title}"></a>
						<a th:case="02" th:href="@{/inquiry/answerModifyForm(inquiry_num=${inquiries.inquiry_num})}" th:text="${inquiries.inquiry_title}"></a>
					</td>
					<td th:text="${inquiries.inquiry_type}"></td>
					<td th:text="${inquiries.member_id}"></td>
					<td th:text="${inquiries.inquiry_write_date}"></td>
					<td th:text="${inquiries_answer.answer_write_date}"></td>
					<td th:text="${inquiries.inquiry_answer_status}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="/inquiry/js/inquiryList.js"></script>
</body>
</html>