.page-title {
	font-size: 20px;
	font-weight:  bold;
}

.order-info-area {
	display: flex;
	height: 80px;
	line-height: 40px;
	margin: 25px 0;
	padding: 20px 0;
	background-color: #FAF8FE;
	border-radius: 20px;
}

.request-date {
	padding-left: 30px;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}

.request-date > span {
	border-right: 1px solid #C0C0C0;
	padding-right: 20px;
	margin-right: 20px;
}

.request-order-num > span {
	color: #000000;
	font-weight: 300;
}

.page-sub-title {
	font-size: 16px;
	font-weight: 600;
	background-color: #FAFAFA;
	padding: 15px 10px;
	height: 65px;
	line-height: 35px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.cancel-book-detail {
	display: flex;
    align-items: center;
	padding: 15px 30px 15px 40px;
	border-top: 1px solid #C0C0C0;
}

.book-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
	margin-left: 20px;
	margin-right: auto;
}

.book-name, .book-price {
	font-size: 16px;
	font-weight: 600;
	color: #000000;
}

.purchase-qty {
	font-size: 14px;
	color: #7E7E7E;
}

.cancel-guide-lines-area {
	margin: 65px 0;
}

.guide-lines-title {
	font-size: 20px;
	font-weight: bold;
	color: #000000;
}

.guide-lines-sub-title {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}

.guide-lines-content {
	font-size: 14px;
	color: #000000;
}

.guide-lines-content:before {
	content: "· ";
	font-weight: 900;
	font-size: 18px;
}

.guide-lines-title-area {
	margin-bottom: 10px;
}

.guide-lines-content-area {
	background-color: #FAFAFA;
	padding: 30px 20px;
	margin-top: 10px;
}

.content-center-margin {
	margin: 20px 0;
}

.btn-area {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}

.cancel-btn {
	width: 200px;
	height: 50px;
	background-color: #845EC2;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
}

.back-btn {
	width: 200px;
	height: 50px;
	background-color: #FFFFFF;
	border: 1px solid #845EC2;
	border-radius: 5px;
	color: #845EC2;
	font-size: 16px;
	font-weight: bold;
	
}

.modal-text > p {
	line-height: 1;
}

.modal-text > p > span {
	font-weight: bold;
}