<!DOCTYPE html>
<html lang="ko"
	 xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head th:replace="~{/admin/common/fragments/config :: ConfigFragment}"></head>

<body>

	<div class="inner">
		
		<div th:insert="~{/admin/common/fragments/sidebar :: SidebarFragment}"></div>

		<div class="content-wrap">
			<div th:insert="~{/admin/common/fragments/header :: HeaderFragment}"></div>
			
			<div>
				<div layout:fragment="Content"></div>
			</div>
		</div>

	</div>
	
	<script src="/admin/common/js/main.js"></script>

</body>
</html>