table.dataTable tbody tr {
    background-color: white !important;
}

.header h1 {
   margin-bottom: 20px;
}

.content {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.filter-group, .search-bar-group {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
   border-bottom: 1px solid #D8D8D8;
   padding-bottom: 8px;
}

.date-picker {
   display: flex;
   flex-direction: row;
   gap: 10px;
}

.calendar-slash {
   margin-top: 8px;
}

.stars {
   font-size: 20px; /* 별 크기 조정 */
   color: #4777F6;
}

.empty-stars {
   font-size: 20px; /* 빈 별 크기 조정 */
   color: lightgray; /* 빈 별 색상 */
}

#reviews td, #reviews th {
   text-align: center; /* 텍스트 가운데 정렬 */
   vertical-align: middle; /* 수직 가운데 정렬 */
}

